body {
	padding: 0;
}


.login-box, .register-box {
	margin: 0px auto;
}


a[ng-click], .clickable {
	cursor: pointer;
	outline: none;
}

.button-container {
	padding: 5px 10px;
}

.listitem {
	th, td {
		font-size: 18px;
	}
}

.table {
	> thead, > tbody {
		> tr {
			> th, > td {
				vertical-align: middle;
			}
		}
	}
}
//page layout styling
.contentBody {
  position: absolute;
  left: 150px;
  right: 150px;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-size: 20px;
}
contentHeader, contentFooter{
  height: 100px;
  padding: 10px;
  background-color: #FFEC00;
}
contentMain{
  padding: 10px;
  flex: 1;
  overflow: scroll;
  overflow-x: hidden;
}
.main-header .logo {
  text-align: center;
  width: 150px;
}
.main-sidebar,
.left-side {
  width: 150px;
}
.fixed .main-header {
  top: 0;
  left: 0;
}