body {
	padding: 0;
}


.login-box, .register-box {
	margin: 0px auto;
}


a[ng-click], .clickable {
	cursor: pointer;
	outline: none;
}

.button-container {
	padding: 5px 10px;
}

.listitem {
	th, td {
		font-size: 18px;
	}
}

.table {
	> thead, > tbody {
		> tr {
			> th, > td {
				vertical-align: middle;
			}
		}
	}
}
//page layout styling
.contentBody {
  position: absolute;
  left: 150px;
  right: 150px;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-size: 20px;
}
contentHeader, contentFooter{
  height: 100px;
  padding: 10px;
  background-color: #FFEC00;
}
contentMain{
  padding: 10px;
  flex: 1;
  overflow: scroll;
  overflow-x: hidden;
}
.main-header .logo {
  text-align: center;
  width: 150px;
}
.main-sidebar,
.left-side {
  width: 150px;
}
.fixed .main-header {
  top: 0;
  left: 0;
}
//colour styling
.skin-purple .main-header .navbar {
  background-color: #E5007E;
}
.skin-purple .main-header .navbar .sidebar-toggle:hover {
  background-color: #990054;
}
.skin-purple .main-header .logo {
  background-color: #990054;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-purple .main-header .logo:hover {
  background-color: #b30062;
}
.skin-purple .main-header li.user-header {
  background-color: #E5007E;
}
.skin-purple .left-side {
  background-color: #E5007E;
}
.skin-purple .sidebar-form {
  border-radius: 3px;
  border: 1px solid #b30062;
  margin: 10px 10px;
}
.skin-purple .sidebar-form input[type="text"],
.skin-purple .sidebar-form .btn {
  box-shadow: none;
  background-color: #b30062;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}