<div class="col-xs-12">
	<button class="btn btn-success" type="button" ng-click="addData()" ng-if="hasCreateActorDataPermission">Create New Actor Data</button>
</div>
<form class="form-horizontal" name="myForm" ng-if="CreateNewData" background-color="#ccc">
	<div class="form-group">
		<h4 for="inputName" class="col-xs-2 control-label">Key:</h4>
		<div class="col-xs-10">
			<input type="text" placeholder="Actor Data Key" class="form-control" ng-model="form.key" required/>
		</div>
	</div>
	<div class="form-group">
		<h4 for="inputName" class="col-xs-2 control-label">Game Name:</h4>
		<div class="col-xs-10">
			<input type="text" placeholder="Game Name" class="form-control" ng-model="form.gameName" required/>
		</div>
	</div>
	<div class="form-group">
		<h4 for="inputName" class="col-xs-2 control-label">Value:</h4>
		<div class="col-xs-10">
			<input type="text" placeholder="Actor Data value" class="form-control" ng-model="form.value" required/>
		</div>
	</div>
	<div class="form-group">
		<h4 for="inputName"  class="col-xs-2 control-label">Evaludation Data Type:</h4>
		<div class="col-xs-10">
			<select class="form-control" ng-model="form.evaluationDataType" required>
				<option value="string">String</option>
				<option value="long">Long</option>
				<option value="float">Float</option>
				<option value="boolean">Boolean</option>
			</select>
		</div>
	</div>
	<div class="col-xs-6">
		<button class="btn btn-danger pull-left" type="button" ng-click="cancel()">Cancel</button>
	</div>
	<div class="col-xs-6">
		<button class="btn btn-success pull-right" type="button" ng-click="addNewData(form)" ng-disabled="myForm.$invalid" ng-if="hasCreateActorDataPermission ">Create New Actor Data</button>
	</div>
</form>
<br/>
<div ng-init="init()">
    <h4 class="col-xs-4 control-label">Select A Game:</h4>
    <div class="col-xs-4">
      <select ng-options="game.name for game in games" ng-model="select.game" required />
    </div>
    <div class="col-xs-4">
      <button class="btn btn-success pull-left" type="button" ng-click="loadData(select.game)">Load Data For Game </button>
    </div>
</div>
<table class="table table-bordered table-hover" ng-if="hasGetActorDataPermission">
	<tr class="listitem">
		<th style="width: 30%"></th>
		<td style="width: 30%"></td>
		<td style="width: 30%"></td>
		<td style="width: 10%"></td>
	</tr>
	<tr>
		<th>Key</th>
		<th>Save Data Type</th>
		<th>value</th>
		<th>Game Id</th>
	</tr>
  <!-- Example Placeholder -->
  <!-- <tr>
		<td>Placeholder Key</td>
		<td ng-if="!isEditing[0]">String</td>
		<td ng-show="isEditing[0]">
			<select class="form-control" ng-model="form.evaluationDataType" ng-init="form.evaluationDataType = 'String'">
				<option value="String">String</option>
				<option value="Long">Long</option>
				<option value="Float">Float</option>
				<option value="Boolean">Boolean</option>
			</select>
		</td>
		<td ng-if="!isEditing[0]">Placeholder Value</td>
		<td ng-show="isEditing[0]">
			<input type="text" class="form-control" ng-model="form.value" placeholder="Placeholder Value"/>
		</td>
		<td ng-if="!isEditing[0]">Placeholder Game Id</td>
		<td ng-show="isEditing[0]">
			<input type="text" class="form-control" ng-model="form.gameId" placeholder="Placeholder Game Id"/>
		</td>
		<td>
			<button class="btn btn-info" type="button" ng-click="edit(0)">{{EditButtonText[0]}}</button>
			<button class="btn btn-success" type="button" ng-click="update(0, '', form)" ng-if="isEditing[0]">Apply</button>
		</td>
	</tr> -->
	<tr class="listitem" ng-repeat="item in datas | orderBy: 'key' | limitTo:pagination.perPage:pagination.perPage * (pagination.currentPage-1)">
        <td>{{item.key}}</td>
		<td ng-if="!isEditing[item.index]">{{item.evaluationDataType}}</td>
		<td ng-show="isEditing[item.index]">
			<select class="form-control" ng-model="form.evaluationDataType" ng-init="form.evaluationDataType = item.evaluationDataType">
				<option value="String">String</option>
				<option value="Long">Long</option>
				<option value="Float">Float</option>
				<option value="Boolean">Boolean</option>
			</select>
		</td>
		<td ng-if="!isEditing[item.index]">{{item.value}}</td>
		<td ng-show="isEditing[item.index]">
			<input type="text" class="form-control" ng-model="form.value" placeholder="{{item.value}}"/>
		</td>
		<td ng-if="!isEditing[item.index]">{{item.gameId}}</td>
		<td ng-show="isEditing[item.index]">
			<input type="text" class="form-control" ng-model="form.gameId" placeholder="{{item.gameId}}"/>
		</td>
		<!-- <td>
			<button class="btn btn-info" type="button" ng-click="edit(item.index)">{{EditButtonText[item.index]}}</button>
			<button class="btn btn-success" type="button" ng-click="update(item.index, item.key, form)" ng-if="isEditing[item.index]">Apply</button>
		</td> -->
    </tr>
</table>
<contentFooter>
<div class="col-xs-12 text-center">
	<uib-pagination total-items="items.length" ng-model="pagination.currentPage" max-size="pagination.perPage" class="pagination-sm" boundary-links="true"></uib-pagination>
</div>
</contentFooter>
