<contentHeader>
	<div>
		<div class="col-xs-12">
			<button class="btn btn-secondary" type="button" ng-click=back()>Back To Groups</button>
		</div>
	</div>
	<div class="col-xs-12" ng-if="!groupFound">
	    <h3><span>Cannot display group, no group found with ID:- </span>{{itemId}}<span></span></h3>
	</div>

	<div class="col-xs-12" ng-if="groupFound">
		<h2>Group: {{groupName}}</h2>
	</div>
	<div class="col-xs-12" ng-if="groupFound">
		<button class="btn btn-primary" ui-sref="groupsProfile.Details" ui-sref-active="activeState">Details</button>
		<button class="btn btn-primary" ui-sref="groupsProfile.Data" ui-sref-active="activeState" ng-if="hasGetActorDataPermission">Actor Data</button>
		<button class="btn btn-primary" ui-sref="groupsProfile.Members" ui-sref-active="activeState" ng-if="hasGetMemberPermission">Members</button>
		<button class="btn btn-primary" ui-sref="groupsProfile.Alliances" ui-sref-active="activeState" ng-if="hasGetAlliancePermission">Alliances</button>
		<button class="btn btn-primary" ui-sref="groupsProfile.Roles" ui-sref-active="activeState" ng-if="hasGetRolePermission">Manage Roles</button>
	</div>
</contentHeader>
<contentMain>
	<div ng-init="init()" ng-if="groupFound" >
		<div>
			<ui-view></ui-view>
		</div>
	</div>
</contenMain>

<!-- Add a member to the group -->

<script type="text/ng-template" id="addMemberModal.html">
    <div class="modal-header">
        <h3 class="modal-title"><span>Add a new member to </span>{{itemtype}}<span>:</span></h3>
    </div>
    <div class="modal-body">
        <class>Enter Player Name</class>
        <form name="myForm">
        <input type="text" placeholder="Username" class="form-control" ng-value="txtBox" ng-model="txtBox" name="txtBox" required/>
        </form>
        <class="form-control" ng-if="!exists">Error: Player Not Found</class>
    </div>
    <div class="modal-footer">
        		<button class="btn btn-danger pull-left" type="button" ng-click="closeModal()"><i class="fa fa-times"></i> Cancel</button>
                <button class="btn btn-success" type="button" ng-click="add(item)"ng-disabled="myForm.$invalid">Add</button>
    </div>>
</script>

<!-- Confirm that we want to delete the group  -->

<script type="text/ng-template" id="confirmDeleteModal.html">
	<div class="modal-header">
		<h3 class="modal-title">You are deleting {{groupName}}</h3>
	</div>
	<div class="modal-body">
		Are you sure you want to delete the group {{groupName}}?
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger pull-left" type="button" ng-click="closeModal()"><i class="fa fa-times"></i> No, cancel</button>
		<button class="btn btn-success" type="button" ng-click="delete()"><i class="fa fa-trash-o"></i> Yes, delete {{config.display.individualTitle(item)}}</button>
	</div>
</script>


<!-- request to add a new user to a role -->

<script type="text/ng-template" id="addRoleModal.html">
    <div class="modal-header">
        <h3 class="modal-title"><span>Add a new Role for User</h3>
    </div>
    <div class="modal-body">
        <class>Enter User Name</class>
        <form name="myForm">
        <input type="text" class="form-control" ng-value="txtBox" ng-model="txtBox" name="txtBox" placeholder="Username" required/>
        </form>
        <class="form-control" ng-if="!exists">Error: User Not Found</class>
    </div>
    <div class="modal-footer">
		<button class="btn btn-danger pull-left" type="button" ng-click="closeModal()"><i class="fa fa-times"></i> Cancel</button>
        <button class="btn btn-success" type="button" ng-click="add(item)"ng-disabled="myForm.$invalid"></i> Add</button>
    </div>>
</script>

<!-- request to add a new alliance -->

<script type="text/ng-template" id="addAllianceModal.html">
  <div class="modal-header">
      <h3 class="modal-title"><span>Add a new Alliance</h3>
  </div>
  <div class="modal-body">
      <class>Enter Group Name</class>
      <form name="myForm">
      <input type="text" class="form-control" ng-value="txtBox" ng-model="txtBox" name="txtBox" placeholder="Name" required/>
      </form>
      <class="form-control" ng-if="!exists">Error: Group Not Found</class>
  </div>
  <div class="modal-footer">
  <button class="btn btn-danger pull-left" type="button" ng-click="closeModal()"><i class="fa fa-times"></i> Cancel</button>
      <button class="btn btn-success" type="button" ng-click="addAlliance(item)"ng-disabled="myForm.$invalid"></i> Add</button>
  </div>>
</script>

