<div class="col-xs-3">
	<button class="btn btn-success pull-left" type="button" ng-click="addGroup(item)" ng-if="hasCreateGroupMemberPermission"><i class="fa fa-group"> Join Group</i></button>
</div>
<table class="table table-bordered table-hover" ng-init="init()">
	<tr>
		<td style="width: 10px"></td>
		<th>Groups</th>
	</tr>
	<tr class="listitem">
		<td style="width: 10px"></td>
		<th>Name</th>
		<th>Roles</th>
		<th></th>
	</tr>
    <tr class="listitem" ng-repeat="item in items | orderBy: 'name' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)" ng-class="['', 'info'][(itemid == item[config.display.individualId])*1]">
        <td></td>
        <td><a ng-click="viewGroup(item)"><i class="fa fa-users"/>{{item.name}}</a></td>
		<td>{{item.role}}</td>
        <td>
			<button class="btn btn-danger pull-right" type="button" ng-click="remove(item)" ng-if="hasDeleteGroupMemberPermission"><i class="fa fa-times"> Leave</i></button>
        </td>
    </tr>
</table>
<contentFooter>
<div class="col-xs-12 text-center">
	<uib-pagination total-items="items.length" ng-model="pagination.currentPage" max-size="pagination.perPage" class="pagination-sm" boundary-links="true"></uib-pagination>
</div>
</contentFooter>