<div class="col-xs-12">
	<button class="btn btn-success" type="button" ng-click="addData()" ng-if="hasCreateGameDataPermission">Create New Game Data</button>
</div>
<form class="form-horizontal" name="myForm" ng-if="CreateNewData" background-color="#ccc">
	<div class="form-group">
		<h4 for="inputName" class="col-xs-2 control-label">Key:</h4>
		<div class="col-xs-10">
			<input type="text" placeholder="Actor Data Key" class="form-control" ng-model="form.key" required/>
		</div>
	</div>
	<div class="form-group">
		<h4 for="inputName" class="col-xs-2 control-label">User Name (optional):</h4>
		<div class="col-xs-10">
			<input type="text" placeholder="User Name" class="form-control" ng-model="form.userName"/>
		</div>
	</div>
	<div class="form-group">
		<h4 for="inputName" class="col-xs-2 control-label">Value:</h4>
		<div class="col-xs-10">
			<input type="text" placeholder="Actor Data value" class="form-control" ng-model="form.value" required/>
		</div>
	</div>
	<div class="form-group">
		<h4 for="inputName"  class="col-xs-2 control-label">Save Data Type:</h4>
		<div class="col-xs-10">
			<select class="form-control" ng-model="form.saveDataType" required>
				<option value="string">String</option>
				<option value="long">Long</option>
				<option value="float">Float</option>
				<option value="boolean">Boolean</option>
			</select>
		</div>
	</div>
	<div class="col-xs-6">
		<button class="btn btn-danger pull-left" type="button" ng-click="cancel()">Cancel</button>
	</div>
	<div class="col-xs-6">
		<button class="btn btn-success pull-right" type="button" ng-click="addNewData(form)" ng-disabled="myForm.$invalid" ng-if="hasCreateGameDataPermission ">Create New Game Data</button>
	</div>
</form>
<table class="table table-bordered table-hover" ng-init="init()" ng-if="hasGetGameDataPermission">
	<tr class="listitem">
		<td style="width: 10px"></td>
		<th>Data</th>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<th>Key</th>
		<th>value</th>
		<th>Save Data Type</th>
		<th>Actor Id</th>
		<td></td>
	</tr>
	<tr class="listitem" ng-repeat="item in items | orderBy: 'key' | limitTo:pagination.perPage:pagination.perPage * (pagination.currentPage-1)">
        <td></td>
		<td>{{item.key}}</td>
        <td>{{item.value}}</td>
        <td>{{item.saveDataType}}</td>
        <td>{{item.actorId}}</td>
        <td></td>
    </tr>
</table>
<contentFooter>
<div class="col-xs-12 text-center">
	<uib-pagination total-items="items.length" ng-model="pagination.currentPage" max-size="pagination.perPage" class="pagination-sm" boundary-links="true"></uib-pagination>
</div>
</contentFooter>