<div ng-init="init()">
  <div class="col-xs-12">
    <h4 class="col-xs-2">Select a User:</h4>
      <select class="col-xs-8" ng-options="user.name for user in users | orderBy: 'name'" ng-model="select.user" required />
      <button class="col-xs-2 btn btn-success pull-left" type="button" ng-click="loadActorData(select.user)">Load User's Resources </button>
    </span>
  </div>
  <div class="col-xs-12">
    <h4 class="col-xs-2">Select a group:</h4>
      <select class="col-xs-8" ng-options="group.name for group in groups | orderBy: 'name'" ng-model="select.group" required />
      <button class="col-xs-2 btn btn-success pull-left" type="button" ng-click="loadActorData(select.group)">Load Group's Resources </button>
  </div>
</div>
<div class="col-xs-12">
  <div class="col-xs-2 col-xs-offset-5">
    <button class="btn btn-success" type="button" ng-click="addNew()" ng-if="hasCreateResourcePermission">Add New Resource</button>
  </div>
</div>
<form class="form-horizontal" name="myForm" ng-if="CreateNew" background-color="#ccc">
  <div class="form-group">
    <h4 for="inputName" class="col-xs-2 control-label">Key:</h4>
    <div class="col-xs-10">
      <input type="text" placeholder="Resource Key" class="form-control" ng-model="form.key" required/>
    </div>
  </div>
  <div class="form-group">
    <h4 for="inputName"  class="col-xs-2 control-label">Actor Type:</h4>
    <div class="col-xs-10">
      <select class="form-control" ng-model="form.actorType" required>
        <option value="user">User</option>
        <option value="group">Group</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <h4 for="inputName" class="col-xs-2 control-label">Actor Name:</h4>
    <div class="col-xs-10">
      <input type="text" placeholder="Actor Name" class="form-control" ng-model="form.actorName" required/>
    </div>
  </div>
  <div class="form-group">
    <h4 for="inputName" class="col-xs-2 control-label">Quantity:</h4>
    <div class="col-xs-10">
      <input type="number" placeholder="0" class="form-control" ng-model="form.quantity" required/>
    </div>
  </div>
  <div class="col-xs-6">
    <button class="btn btn-danger pull-left" type="button" ng-click="cancel()">Cancel</button>
  </div>
  <div class="col-xs-6">
    <button class="btn btn-success pull-right" type="button" ng-click="save(form)" ng-disabled="myForm.$invalid" ng-if="hasCreateResourcePermission ">Add Resource</button>
  </div>
  <br/>
</form>
<div>
    <table class="table" ng-if="hasGetResourcePermission && items.length > 0">
      <tr>
          <th class="col-xs-4"><b>Key</b></th>
          <th class="col-xs-4"><b>Quantity</b></th>
          <th class="col-xs-4"><b ng-show="hasCreateResourcePermission">Update</b></th>
      </tr>
      <tr class="listitem" ng-repeat="item in items | orderBy: 'Name' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)">
        <td>{{item.key}}</td>
        <td>{{item.quantity}}</td>
        <td>
          <span>
            <input style="width: 50px;" type="number" placeholder="0" ng-model="item.addAmount" ng-if="hasCreateResourcePermission">
            <button class="btn btn-success" type="button" ng-click="addResource(item)" ng-if="hasCreateResourcePermission">Update</button>
          </span>
        </td>
      </tr>
    </table>
</div>
</contentMain>
<contentFooter>
	<div class="col-xs-12 text-center">
		<uib-pagination total-items="items.length" ng-model="pagination.currentPage" max-size="pagination.perPage" class="pagination-sm" boundary-links="true"></uib-pagination>
	</div>
</contentFooter>
