<div ng-init="init()">
	<div class="col-xs-3">
		<button class="btn btn-success" type="button" ng-click="addNewAchievement()" ng-if="hasCreateAchievementPermission"><i class="fa fa-trophy" > Add New Achievement</i></button>
	</div>
	<table class="table table-bordered table-hover" ng-if="hasGetAchievementPermission">
		<tbody ng-repeat="n in range()">
			<tr>
				<td><h4>{{items[n].name}}</h4></td>
				<td style="width: 20%"></td>
				<td style="width: 20%"></td>
				<td style="width: 10%"></td>
				<td style="width: 10%">
					<button class="btn btn-info pull-left" type="button" ng-click="toggleView(n)" ng-if="hasGetAchievementPermission">View</button>
				</td>
			</tr>
			<tr ng-show="isViewing[n]">
				<th><h4>Name</h4></th>
				<td>{{items[n].name}}</td>

			</tr>
			<tr ng-show="isViewing[n]">
				<th><h4>Description</h4></th>
				<td>{{items[n].description}}</td>
			</tr>
			<tr ng-show="isViewing[n]">
				<th><h4>Evaluation Criteria</h4></th>
			</tr>
			<tr ng-show="isViewing[n]">
        <th>Category</th>
				<th>Key</th>
				<th>Data Type</th>
				<th>Comparison Type</th>
				<th>Value</th>
			</tr>
			<tr ng-show="isViewing[n]">
				<td>{{items[n].evaluationCriterias[0].evaluationDataCategory}}</td>
				<td>{{items[n].evaluationCriterias[0].evaluationDataKey}}</td>
				<td>{{items[n].evaluationCriterias[0].evaluationDataType}}</td>
				<td>{{items[n].evaluationCriterias[0].comparisonType}}</td>
				<td>{{items[n].evaluationCriterias[0].value}}</td>
			</tr>
			<tr ng-repeat="i in criteriaRange(n)" ng-show="isViewing[n]">
				<td>{{items[n].evaluationCriterias[i].evaluationDataCategory}}</td>
				<td>{{items[n].evaluationCriterias[i].evaluationDataKey}}</td>
				<td>{{items[n].evaluationCriterias[i].evaluationDataType}}</td>
				<td>{{items[n].evaluationCriterias[i].comparisonType}}</td>
				<td>{{items[n].evaluationCriterias[i].value}}</td>
			</tr>
			<tr ng-show="isViewing[n]">
				<th><h4>Reward</h4></th>
			</tr>
			<tr ng-show="isViewing[n]">
				<th>key</th>
				<th>Data Type</th>
				<th>Value</th>
			</tr>
			<tr ng-show="isViewing[n]">
				<td>{{items[n].rewards[0].evaluationDataKey}}</td>
				<td>{{items[n].rewards[0].evaluationDataType}}</td>
				<td>{{items[n].rewards[0].value}}</td>
			</tr>
			<tr ng-show="isViewing[n]">
				<td>
					<button class="btn btn-info pull-left" type="button" ng-click="editAchievement(items[n])" ng-if="hasUpdateAchievementPermission"> Edit Achievement</button>
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td>
					<button class="btn btn-danger pull-left" type="button" ng-click="remove(items[n])"><i class="fa fa-times" ng-if="hasDeleteAchievementPermission"> Remove Achievement</i></button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<contentFooter>
	<div class="col-xs-12 text-center">
		<uib-pagination total-items="items.length" ng-model="pagination.currentPage" max-size="pagination.perPage" class="pagination-sm" boundary-links="true"></uib-pagination>
	</div>
</contentFooter>
