
<header class="main-header">
	<a href="#/" class="logo">
<span><img src="images/SUGAR_logo_large.png" height="30px" /></span>
	<span class="logo-mini">SUGAR</span>
	<span class="logo-lg">SUGAR Admin Panel</span>
</a>
  <nav class="navbar navbar-static-top">
    <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse" ng-if="loggedIn()">
      <ul class="nav navbar-nav">
        <li><a ng-href="#/users"><i class="fa fa-user" ng-class="page.display.icon"></i> Users</a></li>
        <li><a ng-href="#/groups"><i class="fa fa-users" ng-class="page.display.icon"></i> Groups</a></li>
        <li><a ng-href="#/games"><i class="fa fa-gamepad" ng-class="page.display.icon"></i> Games</a></li>
        <li><a ng-href="#/achievements"><i class="fa fa-trophy" ng-class="page.display.icon"></i> Achievements</a></li>
        <li><a ng-href="#/skills"><i class="fa fa-tasks" ng-class="page.display.icon"></i> Skills</a></li>
        <li><a ng-href="#/resources"><i class="fa fa-money" ng-class="page.display.icon"></i> Resources</a></li>
        <li><a ng-href="#/leaderboards"><i class="fa fa-bar-chart" ng-class="page.display.icon"></i> Leaderboards</a></li>
      </ul>
	  <ul class="nav navbar-nav navbar-right">
        <li><a class="pull-right" ng-click="Logout()">Log Out</a></li>
	  </ul>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>