<!--<div class="wrapper">
	<header class="main-header" ng-controller="HeaderCtrl" ng-include="'views/_header.html'"></header>
	<aside class="main-sidebar" ng-controller="SidebarCtrl" ng-include="'views/_sidebar.html'"></aside>
	<div class="content-wrapper" ui-view=""></div>
</div>-->
<header class="main-header" ng-controller="HeaderCtrl" ng-include="'views/_header.html'"></header>
<!--<aside class="main-sidebar" ng-controller="SidebarCtrl" ng-include="'views/_sidebar.html'"></aside>-->
<div class="contentBody" ui-view="">
	<contentHeader></contentHeader>
	<contentMain></contentMain>
	<contentFooter></contentFooter>
</div>