<aside class="main-sidebar">
	<section class="sidebar">
		<ul class="sidebar-menu">
			<li><a ng-href="#/users"><i class="fa fa-user" ng-class="page.display.icon"></i>Users</a></li>
			<li><a ng-href="#/groups"><i class="fa fa-users" ng-class="page.display.icon"></i>Groups</a></li>
			<li><a ng-href="#/games"><i class="fa fa-gamepad" ng-class="page.display.icon"></i>Games</a></li>
			<li><a ng-href="#/achievements"><i class="fa fa-trophy" ng-class="page.display.icon"></i>Achievements</a></li>
			<li><a ng-href="#/skills"><i class="fa fa-tasks" ng-class="page.display.icon"></i>Skills</a></li>
			<li><a ng-href="#/resources"><i class="fa fa-money" ng-class="page.display.icon"></i>Resources</a></li>
			<li><a ng-href="#/leaderboards"><i class="fa fa-bar-chart" ng-class="page.display.icon"></i>Leaderboards</a></li>
            <li class="header" ng-click="Logout()">Log Out</li>
		</ul>
	</section>
</aside>
