<div>
	<div class="col-xs-12 button-container">
		<button class="btn btn-danger pull-left" type="button" ng-click="back()">Back to Games List</button>
	</div>
</div>
<div>
	<div class="col-xs-12">
		<h3><small>This page displays all the achievements in the selected game, showing the name of the achievement, the key and the criteria that must be reached to complete the achievement<br />From this page you can also:<br />- Create new Achievements for the selected game<br />- Edit current achievements<br />- Delete achievements<small></h3>
	</div>
</div>
<div ng-init="init()" ng-if="gameFound">
	<div class="modal-body">
		<table class="table table-bordered">
			<tr>
				<td style="width: 10px"></td>
				<td><h3>Achievements in <span>{{gameName}}</span></h3></td>
			</tr>
			<tr class="listitem">
				<td style="width: 10px"></td>
				<td>Name</td>
				<td>Key</td>
				<td>Completion Criteria</td>
			</tr>
			<tbody ng-repeat="n in range()">
				
				<tr>
					<td></td>
					<td><h4>{{items[n].Name}}</h4></td>
					<td><h4>{{items[n].CompletionCriteria[0].Key}}</h4></td>
					<td><h4>{{items[n].CompletionCriteria[0].DataType}} {{items[n].CompletionCriteria[0].ComparisonType}} {{items[n].CompletionCriteria[0].Value}}</h4></td>
					<td>
					<button class="btn btn-danger pull-right" type="button" ng-click="remove(items[n])"><i class="fa fa-times"></i></button>
				</td>
				</tr>
				<tr ng-repeat="i in criteriaRange(n)">
					<td></td>
					<td></td>
					<td><h4>{{items[n].CompletionCriteria[i].Key}}</h4></td>
					<td><h4>{{items[n].CompletionCriteria[i].DataType}} {{items[n].CompletionCriteria[i].ComparisonType}} {{items[n].CompletionCriteria[i].Value}}</h4></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<uib-pagination total-items="items.length" ng-model="pagination.currentPage" max-size="pagination.perPage" class="pagination-sm" boundary-links="true"></uib-pagination>
		</div>
	</div>
	<div class="col-xs-12 text-center button-container">
			<button class="btn btn-success pull-right" type="button" ng-click="add()"><i class="fa" ng-class="page.display.icon"></i>Add New Achievement</button>
		</div>
</div>
<div>
	<h3 ng-if="!gameFound" ><span>Cannot display achievements, no game found with ID:- </span>{{itemId}}<span></span></h3>
</div>

<!-- Confirm that we want to delete the game  -->

<script type="text/ng-template" id="confirmDeleteModal.html">
	<div class="modal-header">
		<h3 class="modal-title">You are deleting {{config.display.individualTitle(item)}}</h3>
	</div>
	<div class="modal-body">
		Are you sure you want to delete the game {{config.display.individualTitle(item)}}?
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger pull-left" type="button" ng-click="close()"><i class="fa fa-times"></i> No, cancel</button>
		<button class="btn btn-success" type="button" ng-click="delete()"><i class="fa fa-trash-o"></i> Yes, delete {{config.display.individualTitle(item)}}</button>
	</div>
</script>

<!-- Create a new game  -->

<script type="text/ng-template" id="createModal.html">
  <form name="myForm">
	<div class="modal-header">
		<h3 class="modal-title">Create new game</h3>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-xs-3"><label>Name</label></div>
			<div class="col-xs-9">
				<input type="text" class="form-control" ng-model="item.Name" required/>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger pull-left" type="button" ng-click="close()"><i class="fa fa-times"></i> Close</button>
		<button class="btn btn-success" type="button" ng-click="save()" ng-disabled="myForm.$invalid"><i class="fa fa-save"></i> Save</button>
	</div>
  </form>
</script>

<!-- Add achievements to the game -->

<script type="text/ng-template" id="addAchievementModal.html">
    <div class="modal-header">
        <h3 class="modal-title"><span>Add Achievement to </span>{{config.display.individualTitle(item)}}<span>:</span></h3>
    </div>
    <form name="myForm">
    <div class="modal-body">    
        <h4>Achievement Name</h4>
        <input type="text" class="form-control" ng-model="achievementName"/>
        <h4>Add Criteria</h4> 
		<div class="col-xs-3"><label>Key</label></div>
		<div class="col-xs-9">
			<input type="text" class="form-control" ng-model="item.Key" required/>
		</div>
		<div class="col-xs-3"><label>Data Type</label></div>
		<div class="col-xs-9">
			<select class="form-control input-lg" ng-model="item.DataType" required>
				<option value="0">String</option>
				<option value="1">Long</option>
				<option value="2">Float</option>
				<option value="3">Boolean</option>
			</select>
		</div>
		<div class="col-xs-3"><label>Comparison Type</label></div>
		<div class="col-xs-9">
			<select class="form-control input-lg" ng-model="item.ComparisonType" required>
				<option value="0">Equal</option>
				<option value="1">Not Equal</option>
				<option value="2">Greater</option>
				<option value="3">Greater or Equal</option>
				<option value="4">Less</option>
				<option value="5">Less or Equal</option>
			</select>
		</div>
		<div class="col-xs-3"><label>Value</label></div>
		<div class="col-xs-9">
			<input type="text" class="form-control" ng-model="item.Value" required/>
		</div>
    </div>
    </form>
    <div class="modal-footer">
		<button class="btn btn-danger pull-left" type="button" ng-click="close(item)"><i class="fa fa-times"></i> Cancel</button>   
		<button class="btn btn-success" type="button" ng-click="add(item)" ng-disabled="myForm.$invalid">Add</button>           
    </div>>
</script>