<div ng-init="init()">
	<div class="col-xs-3">
		<button class="btn btn-success" type="button" ng-click="addNew()"><i class="fa fa-scores"> Add New Leaderboard</i></button>
	</div>
	<table class="table table-bordered table-hover">
		<tr class="listitem" ng-repeat="item in items | orderBy: 'token' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)">
			<td style="width: 10px"></td>
			<td><button class="col-xs-12 text-left btn-secondary" ng-click="showLeaderboard(item)"><b>{{item.token}}</b></button></td>
			<td style="width: 30px">
				<button class="btn btn-danger btn-sm" title="Delete this Leaderboard" ng-click="remove(item)"><i class="fa fa-times"> Remove</i></button>
			</td>
		</tr>
	</table>
</div>
</contentMain>
<contentFooter>
	<div class="col-xs-12 text-center">
		<uib-pagination total-items="items.length" ng-model="pagination.currentPage" max-size="pagination.perPage" class="pagination-sm" boundary-links="true"></uib-pagination>
	</div>
</contentFooter>