<contentHeader>
<div>
	<div class="col-xs-3">
		<h4 class="" ng-click="back()"> Back to Groups</h4>
	</div>
</div>
</contentHeader>
<contentMain>
<div>
	<div>
	    <h3 ng-if="!groupFound" ><span>Cannot display group members, no group found with ID:- </span>{{itemId}}<span></span></h3>
    </div>
	<div class="col-xs-12">
		<h4>This page displays the members of a group, and from this page you can:<br />- Add members to the current group<br />- Remove members from the current group</h4>
	</div>
</div>
<div ng-init="init()" ng-if="groupFound">
	<div class="modal-body">
		<table class="table table-bordered">
			<tr>
				<td style="width: 10px"></td>
				<th>Members of <span>{{groupName}}</span>:</th>
			</tr>
			<tr class="listitem">
				<td></td>
				<th>Player Name</th>
				<th></th>
			</tr>
            <tr class="listitem" ng-repeat="item in items | orderBy: 'name' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)" ng-class="['', 'info'][(itemid == item[config.display.individualId])*1]">
				<td></td>
				<td>
					<span>{{item.name}}</span>
				</td>
                <td>
                    <button class="btn btn-danger pull-right" type="button" ng-click="remove(item)"><i class="fa fa-times"> Remove</i></button>
                </td>
		    </tr>
		</table>
	</div>
</contentMain>
<contentFooter>
	<div ng-if="groupFound" class="col-xs-12 text-center button-container">
		<button class="btn btn-success pull-right" type="button" ng-click="add(item)"></i>Add New Member</button>
	</div>
</contentFooter>

<!-- Add a member to the group -->

<script type="text/ng-template" id="addMemberModal.html">
    <div class="modal-header">
        <h3 class="modal-title"><span>Add a new member to </span>{{itemtype}}<span>:</span></h3>
    </div>
    <div class="modal-body">
        <class>Enter Player Name</class>
        <form name="myForm">
        <input type="text" placeholder="Username" class="form-control" ng-value="txtBox" ng-model="txtBox" name="txtBox" required/>
        </form>
        <class="form-control" ng-if="!exists">Error: Player Not Found</class>
    </div>
    <div class="modal-footer">
        		<button class="btn btn-danger pull-left" type="button" ng-click="close(item)"><i class="fa fa-times"></i> Cancel</button>  
                <button class="btn btn-success" type="button" ng-click="add(item)"ng-disabled="myForm.$invalid">Add</button>      
    </div>>
</script>