<contentHeader>
<div>
	<div class="col-xs-3">
		<h4 class="" ng-click="back()"> Back to Games List</h4>
	</div>
</div>
</contentHeader>
<contentMain>
<div>
	<div>
	    <h3 ng-if="!gameFound" ><span>Cannot display leaderboards, no game found with ID:- </span>{{itemId}}<span></span></h3>
    </div>
	<div class="col-xs-12">
		<h4>This page manages the leaderboards for the selected platform, from here you can:<br />- Open selected leaderboards<br />- Create a new Leaderboard<br />- Edit a leaderboard<br />- Delete an existing Leaderboard</h4>
	</div>
</div>
<div ng-init="init()" ng-if="gameFound">
	<table class="table table-bordered">
		<tr>
			<td style="width: 10px"></td>
			<th><span>{{gameName}}</span> Leaderboards</th>
		</tr>
		<tr class="listitem" ng-repeat="item in items | orderBy: 'token' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)">
			<td style="width: 10px"></td>
			<td>{{item.token}}</td>
			<td>
				<button class="btn btn-success btn-sm" title="Show this Leaderboard" ng-click="showLeaderboard(item)"><i class=""> View Leaderboard</i></button>
				<button class="btn btn-danger btn-sm" title="Delete this Leaderboard" ng-click="delete(item)"><i class="fa fa-trash-o"> Delete</i></button>
			</td>
		</tr>
	</table>
</div>
</contentMain>
<contentFooter>
	<div class="col-xs-4 col-xs-offset-4 text-center">
		<uib-pagination total-items="items.length" ng-model="pagination.currentPage" max-size="pagination.perPage" class="pagination-sm" boundary-links="true"></uib-pagination>
	</div>
	<div ng-if="gameFound" class="col-xs-4 text-center button-container">
		<button class="btn btn-success pull-right" type="button" ng-click="add()"><i class="fa" ng-class="page.display.icon"></i>Add New Leaderboard</button>
	</div>
</contentFooter>
<!-- Create a new Filter  -->

<script type="text/ng-template" id="createLeaderboardModal.html">
  <form name="myForm">
	<div class="modal-header">
		<h3 class="modal-title">Create new Leaderboard</h3>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-xs-3"><label>Name</label></div>
			<div class="col-xs-9">
				<input type="text"  placeholder="Leaderboard Name" class="form-control" ng-model="item.Name" required/>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3"><label>Token</label></div>
			<div class="col-xs-9">
				<input type="text" placeholder="Unique Leaderboard Token" class="form-control" ng-model="item.Token" required/>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3"><label>Key</label></div>
			<div class="col-xs-9">
				<input type="text" placeholder="Unique Leaderboard Key" class="form-control" ng-model="item.Key" required/>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3"><label>Actor Type</label></div>
			<div class="col-xs-9">
				<select class="form-control" ng-model="item.ActorType" required>
					<option value="0">Any</option>
					<option value="1">User</option>
					<option value="2">Group</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3"><label>Game Data Type</label></div>
			<div class="col-xs-9">
				<select class="form-control" ng-model="item.GameDataType" required>
					<option value="0">String</option>
					<option value="1">Long</option>
					<option value="2">Float</option>
					<option value="3">Boolena</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3"><label>Criteria Scope</label></div>
			<div class="col-xs-9">
				<select class="form-control" ng-model="item.CriteriaScope" required>
					<option value="Actor">Actor</option>
					<option value="RelatedActors">Related Actors</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3"><label>Leaderboard Type</label></div>
			<div class="col-xs-9">
				<select class="form-control" ng-model="item.LeaderboardType" required>
					<option value="0">Highest</option>
					<option value="1">Lowest</option>
					<option value="2">Cumulative</option>
					<option value="3">Count</option>
					<option value="4">Earliest</option>
					<option value="5">Latest</option>
				</select>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger pull-left" type="button" ng-click="close()"><i class="fa fa-times"></i> Close</button>
		<button class="btn btn-success" type="button" ng-click="save()" ng-disabled="myForm.$invalid"><i class="fa fa-save"></i> Save</button>
	</div>
  </form>
</script>