<contentHeader>
<div>
	<div class="col-xs-3">
		<h4 class="" ng-click="back()"><< Back to Leaderboards List</h4>
	</div>
</div>
</contentHeader>
<contentMain>
<div>
	<div>
	    <h3 ng-if="!leaderboardFound" ><span>Cannot display leaderboards, no leadeboard found with Token:- </span>{{leaderboardToken}}<span></span></h3>
    </div>
	<div class="col-xs-12">
		<!--<h4>This page allows you to display a leaderboard using the filters below</h4>-->
	</div>
</div>
<div ng-init="init()" ng-if="leaderboardFound">
<h3><span>{{leaderboardToken}}</span></h3>
	<table class="table table-bordered">
		<tr>
			<th>Rank</th>
			<th>Name</th>
			<th>Value</th>
			<th></th>
		</tr>
		<tr class="listitem" ng-repeat="item in items | orderBy: 'Name' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)">
			<td>{{item.Ranking}}</td>
            <td>{{item.Name}}</td>
			<td>{{item.Value}}</td>
		</tr>
	</table>
</div>
</contentMain>
<div class="row">
	<div class="col-xs-12 text-center">
		<uib-pagination total-items="items.length" ng-model="pagination.currentPage" max-size="pagination.perPage" class="pagination-sm" boundary-links="true"></uib-pagination>
	</div>
</div>
<div ng-if="leaderboardFound" class="col-xs-12 text-center button-container"/>
