<contentHeader>
<div>
	<div class="col-xs-3">
		<h4 class="" ng-click="back()"> Back to Leaderboards List</h4>
	</div>
</div>
</contentHeader>
<contentMain>
<div>
	<div>
	    <h3 ng-if="!leaderboardFound" ><span>Cannot display leaderboard, no leaderboard found with Token:- </span>{{leaderboardToken}}<span></span></h3>
    </div>
	<div class="col-xs-12">
		<!--<h4>This page allows you to display a leaderboard using the filters below</h4>-->
	</div>
</div>
<div ng-init="init()" ng-if="leaderboardFound">
<h3><span>{{leaderboardToken}}</span></h3>
	<table class="table table-bordered">
		<tr>
			<th class="col-xs-2">Rank</th>
			<th class="col-xs-5">Name</th>
			<th class="col-xs-5">Value</th>
			<th></th>
		</tr>
		<tr class="listitem" ng-repeat="item in items | orderBy: 'ranking' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)">
			<td>{{item.ranking}}</td>
            <td>{{item.actorName}}</td>
			<td>{{item.value}}</td>
		</tr>
	</table>
</div>
</contentMain>
<contentFooter>
	<div class="col-xs-4 col-xs-offset-4 text-center">
		<uib-pagination total-items="items.length" ng-model="pagination.currentPage" max-size="pagination.perPage" class="pagination-sm" boundary-links="true"></uib-pagination>
	</div>
	<div ng-if="leaderboardFound" class="col-xs-4 text-center button-container">
	
	</div>
</contentFooter>
