<div ng-init="init()" ng-if="gameFound">
<h3><span>{{gameName}}</span> Leaderboards</h3>
	<table class="table table-bordered">
		<form name="Filters">
		<tr class="listitem">
			<th class="col-xs-2">Group or User<select class="form-control input-lg" ng-model="item.actor" required>
					<option value="0">Group</option>
					<option value="1">User</option>
				</select>
			</th>
			<th class="col-xs-3">Select a Filter<select class="form-control input-lg" ng-model="item.Filter" required>
					<option value="0">*GOLD*</option>
					<option value="1">*TIME PLAYED*</option>
					<option value="2">*MEMBERS*</option>
					<option value="3">*ACHIEVEMENTS*</option>
				</select>
			</th>
			<th class="col-xs-3">Sort By<select class="form-control input-lg" ng-model="item.Sort" required>
					<option value="0">Highest</option>
					<option value="1">Lowest</option>
					<option value="1">Cumulative</option>
					<option value="1">Count</option>
				</select>
			</th>
			<th class="col-xs-2">Range Start<input type="text" class="form-control" ng-model="item.RangeStart" required/>
			</th>
			</th>
			<th class="col-xs-2">Range End<input type="text" class="form-control" ng-model="item.RangeEnd" required/>
			</th>
			<th></th>
		</tr>
		</form>
		<tr>
			<td/><td/><td/><td/>
			<td>
			<button class="btn btn-success pull-right" type="button" ng-click="apply(item)" ng-disabled="Filters.$invalid">Apply Filter</button>
			</td>
		</tr>
	</table>
	<table class="table table-bordered">
		<tr>
			<th>Rank</th>
			<th>Name</th>
			<th>Value</th>
			<th></th>
		</tr>
		<tr class="listitem" ng-repeat="item in items | orderBy: 'Name' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)">
			<td>{{item.Rank}}</td>
            <td>{{item.Name}}</td>
			<td>{{item.Value}}</td>
		</tr>
	</table>
	<div class="row">
		<div class="col-xs-12 text-center">
			<uib-pagination total-items="items.length" ng-model="pagination.currentPage" max-size="pagination.perPage" class="pagination-sm" boundary-links="true"></uib-pagination>
		</div>
	</div>
	<div class="col-xs-12 text-center button-container"/>
</div>
<div>
	<h3 ng-if="!gameFound" ><span>Cannot display leaderboards, no game found with ID:- </span>{{itemId}}<span></span></h3>
</div>
<!-- Create a new Filter  -->

<script type="text/ng-template" id="createFilterModal.html">
  <form name="myForm">
	<div class="modal-header">
		<h3 class="modal-title">Create new Filter</h3>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-xs-3"><label>Name</label></div>
			<div class="col-xs-9">
				<input type="text" class="form-control" ng-model="item.Name" required/>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger pull-left" type="button" ng-click="close()"><i class="fa fa-times"></i> Close</button>
		<button class="btn btn-success" type="button" ng-click="save()" ng-disabled="myForm.$invalid"><i class="fa fa-save"></i> Save</button>
	</div>
  </form>
</script>