<contentHeader>
	<div class="col-xs-3">
		<h4 class="" ng-click="back()"> Back to Menu</h4>
	</div>
</contentHeader>
<contentMain>
	<div class="col-xs-12">
		<h4>This page displays the list of games which can be selected to view leaderboards within each game. Global leaderboards are also available for leaderboards that are not restricted to one game</h4>
	</div>
	<div ng-init="init()">
		<table class="table table-bordered">
			<tr>
				<td style="width: 10px"></td>
				<th>Select to view Leaderboards</th>
			</tr>
			<tr>
				<td style="width: 10px"></td>
				<td ng-click="showGlobal()">GLOBAL LEADERBOARDS</td>
			</tr>
			<tr class="listitem" ng-repeat="item in items | orderBy: 'name' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)">
				<td></td>
	            <td ng-click="showLeaderboards(item)">{{item.name}}</td>
			</tr>
		</table>
	</div>
</contentMain>
<contentFooter
	<div class="col-xs-4 col-xs-offset-4 text-center">
		<uib-pagination total-items="items.length" ng-model="pagination.currentPage" max-size="pagination.perPage" class="pagination-sm" boundary-links="true"></uib-pagination>
	</div>
</contentFooter>