<div ng-init="init()">

	<div class="row">
		<div class="col-xs-12 text-center button-container">
			<button class="btn btn-success" type="button" ng-click="create()" ng-if="config.enabled.create"><i class="fa fa-plus"></i> Create new {{config.display.single}}</button>
		</div>
	</div>

	<div class="row"  ng-if="items.length > pagination.perPage">
		<div class="col-xs-12 text-center">
			<uib-pagination total-items="items.length" ng-model="pagination.currentPage" max-size="pagination.perPage" class="pagination-sm" boundary-links="true"></uib-pagination>
		</div>
	</div>

	<table class="table table-bordered">
		<tr class="listitem">
			<th style="width: 10px"></th>
			<th ng-repeat="col in config.columns">{{col.title || col.key}}</th>
			<th></th>
		</tr>
		<tr class="listitem" ng-repeat="item in items | orderBy: 'Name' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)" ng-class="['', 'info'][(itemid == item[config.display.individualId])*1]">
			<td>{{$index + ((pagination.currentPage - 1) * pagination.perPage) + 1}})</td>
			<td class="clickable" ng-repeat="col in config.columns" ng-click="(item)">
				<span ng-if="!col.type || col.type == 'text'">{{item[col.key]}}</span>
				<span ng-if="col.type == 'boolean'">
					<i class="fa fa-check fa-lg text-success" ng-if="(item[col.key] || col.val(item))"></i>
					<i class="fa fa-times fa-lg text-danger" ng-if="!(item[col.key] || col.val(item))"></i>
				</span>
			</td>
			<td>
				<button class="btn btn-primary btn-sm" title="Edit this item" ng-click="select(item)" ng-if="config.enabled.edit && false"><i class="fa fa-pencil"></i></button>
				<button class="btn btn-primary btn-sm" title="View this item" ng-click="select(item)" ng-if="!config.enabled.edit"><i class="fa fa-eye"></i></button>
				<button class="btn btn-primary btn-sm" title="Show Members For Group" ng-click="showMembers(item)" ng-if="config.display.title=='Groups'"><i class="fa fa-eye"> Members</i></button>
				<button class="btn btn-primary btn-sm" title="Show Friends For User" ng-click="showFriends(item)" ng-if="config.display.title=='Users'"><i class="fa fa-eye"> Friends</i></button>
				<button class="btn btn-primary btn-sm" title="Show Groups For User" ng-click="showGroups(item)" ng-if="config.display.title=='Users'"><i class="fa fa-eye"> Groups</i></button>
                <button class="btn btn-primary btn-sm" title="Show Achievements For Gamer" ng-click="showAchievements(item)" ng-if="config.display.title=='Games'"><i class="fa fa-eye"> Achievements</i></button>
				<button class="btn btn-danger btn-sm" title="Delete this entry" ng-click="delete(item)" ng-if="config.enabled.delete"><i class="fa fa-trash-o"></i></button>
            </td>
		</tr>
	</table>
	<div class="row"  ng-if="items.length > pagination.perPage">
		<div class="col-xs-12 text-center">
			<uib-pagination total-items="items.length" ng-model="pagination.currentPage" max-size="pagination.perPage" class="pagination-sm" boundary-links="true"></uib-pagination>
		</div>
	</div>
</div>

<script type="text/ng-template" id="editModal.html">
	<div class="modal-header">
		<h3 class="modal-title"><span ng-if="config.enabled.edit">Edit</span><span  ng-if="!config.enabled.edit">View</span> {{config.display.individualTitle(item)}}</h3>
	</div>
    <form name="myForm">
	<div class="modal-body">
		<div class="row" ng-repeat="editable in editables">
			<div class="col-xs-3"><label>{{editable.display || editable.key}}</label></div>
			<div class="col-xs-9">
				<input type="text" class="form-control" ng-model="item[editable.key]" ng-disabled="!config.enabled.edit || editable.viewonly" ng-if="editable.type == 'text'" required/>
				<input type="checkbox" ng-model="item[editable.key]" ng-disabled="!config.enabled.edit || editable.viewonly" ng-if="editable.type == 'checkbox'" required>
				<input type="password" class="form-control" ng-model="item[editable.key]" ng-disabled="!config.enabled.edit || editable.viewonly" ng-if="editable.type == 'password'" required>
				<input type="email" class="form-control" ng-model="item[editable.key]" ng-disabled="!config.enabled.edit || editable.viewonly" ng-if="editable.type == 'email'" required>
				<span ng-if="editable.type == 'dropdown'">
					<select class="form-control input-lg" ng-model="item[editable.key]" name="{{editable.key}}" required>
						<option ng-repeat="option in editable.values" value="{{option.id}}">{{option.name}}</option>
					</select>
				</span>
				<span ng-if="editable.type == 'link'"><span class="text-info clickable" ng-click="link(editable.itemtype, editable.id(item))"><i class="fa fa-search"></i></span> {{editable.val(item)}}</span>
			</div>
		</div>
	</div>
    </form>
	<div class="modal-footer">
		<button class="btn btn-danger pull-left" type="button" ng-click="close()"><i class="fa fa-times"></i> Close</button>
		<button class="btn btn-success" type="button" ng-click="save()" ng-if="config.enabled.edit"ng-disabled="myForm.$invalid"><i class="fa fa-save"></i> Save</button>
	</div>
</script>

<script type="text/ng-template" id="createModal.html">
  <form name="myForm">
	<div class="modal-header">
		<h3 class="modal-title">Create new {{config.display.single}}</h3>
	</div>
	<div class="modal-body">
		<div class="row" ng-repeat="editable in editables">
			<div class="col-xs-3"><label>{{editable.display || editable.key}}</label></div>
			<div class="col-xs-9">
				<input type="text" class="form-control" ng-model="item[editable.key]" ng-disabled="editable.viewonly" ng-if="editable.type == 'text'" required/>
                <input type="checkbox" ng-model="item[editable.key]" ng-disabled="editable.viewonly" ng-if="editable.type == 'checkbox'" required>
				<input type="password" class="form-control" ng-model="item[editable.key]" ng-disabled="editable.viewonly" ng-if="editable.type == 'password'" required>
				<input type="email" class="form-control" ng-model="item[editable.key]" ng-disabled="editable.viewonly" ng-if="editable.type == 'email'" required>
				<span ng-if="editable.type == 'dropdown'">
					<select class="form-control input-lg" ng-model="item[editable.key]" name="{{editable.key}}" required>
						<option ng-repeat="option in editable.values" value="{{option.id}}">{{option.name}}</option>
					</select>
				</span>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger pull-left" type="button" ng-click="close()"><i class="fa fa-times"></i> Close</button>
		<button class="btn btn-success" type="button" ng-click="save()" ng-disabled="myForm.$invalid"><i class="fa fa-save"></i> Save</button>
	</div>
  </form>
</script>

<script type="text/ng-template" id="confirmDeleteModal.html">
	<div class="modal-header">
		<h3 class="modal-title">You are deleting {{config.display.individualTitle(item)}}</h3>
	</div>
	<div class="modal-body">
		Are you sure you want to delete the {{config.display.single}} {{config.display.individualTitle(item)}}?
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger pull-left" type="button" ng-click="close()"><i class="fa fa-times"></i> No, cancel</button>
		<button class="btn btn-success" type="button" ng-click="delete()"><i class="fa fa-trash-o"></i> Yes, delete {{config.display.individualTitle(item)}}</button>
	</div>
</script>

<script type="text/ng-template" id="showMembersModal.html">
	<div class="modal-header">
		<h3 class="modal-title"><span>Members of </span>{{config.display.individualTitle(item)}}<span>:</span></h3>
	</div>
	<div class="modal-body">
		<table class="table table-bordered">
			<tr class="listitem">
				<th ng-repeat="col in config.members.columns">{{col.title || col.key}}</th>
				<th></th>
			</tr>
            <tr class="listitem" ng-repeat="item in items | orderBy: 'Name' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)" ng-class="['', 'info'][(itemid == item[config.display.individualId])*1]">
                <td class="clickable" ng-repeat="col in config.members.columns" ng-click="(item)">
                    <span ng-if="!col.type || col.type == 'text'">{{item[col.key]}}</span>
                    <span ng-if="col.type == 'boolean'">
                        <i class="fa fa-check fa-lg text-success" ng-if="(item[col.key])"></i>
                        <i class="fa fa-times fa-lg text-danger" ng-if="!(item[col.key])"></i>
                    </span>
                </td>
                <td>
                    <button class="btn btn-danger pull-right" type="button" ng-click="remove(item)"><i class="fa fa-times"> Remove</i></button>
                </td>
		    </tr>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger pull-left" type="button" ng-click="close()"><i class="fa fa-times"></i> Close</button>
        <button class="btn btn-success" type="button" ng-click="add(item)"></i>Add</button>
	</div>
</script>

<script type="text/ng-template" id="showFriendsModal.html">
	<div class="modal-header">
		<h3 class="modal-title"><span>Friends of </span>{{config.display.individualTitle(item)}}<span>:</span></h3>
	</div>
	<div class="modal-body">
		<table class="table table-bordered">
			<tr class="listitem">
				<th ng-repeat="col in config.friends.columns">{{col.title}}</th>
				<th></th>
                <th></th>
			</tr>
            <tr class="listitem" ng-repeat="item in items | orderBy: 'Name' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)" ng-class="['', 'info'][(itemid == item[config.display.individualId])*1]">
                <td class="clickable" ng-repeat="col in config.friends.columns" ng-click="(item)">
                    <span ng-if="!col.type || col.type == 'text'">{{item[col.key]}}</span>
                    <span ng-if="col.type == 'boolean'">
                        <i class="fa fa-check fa-lg text-success" ng-if="(item[col.key])"></i>
                        <i class="fa fa-times fa-lg text-danger" ng-if="!(item[col.key])"></i>
                    </span>
                </td>
                <td>
                    <button class="btn btn-danger pull-right" type="button" ng-click="remove(item)"><i class="fa fa-times"> Remove</i></button>
                </td>
		    </tr>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger pull-left" type="button" ng-click="close()"><i class="fa fa-times"></i> Close</button>
        <button class="btn btn-primary btn-sm" title="Show Friend Requests For User" ng-click="showFriendRequests(item)" ng-if="config.friends.requests.hasRequests"><i class="fa fa-eye"> Friend Requests</i></button>
        <button class="btn btn-success" type="button" ng-click="add(item)"></i>Add</button>
	</div>
</script>

<script type="text/ng-template" id="showFriendRequestsModal.html">

	<div class="modal-header">
		<h3 class="modal-title"><span>Current Friend Requests for </span>{{config.display.individualTitle(item)}}<span>:</span></h3>
	</div>
	<div class="modal-body">
		<table class="table table-bordered">
			<tr class="listitem">
				<th ng-repeat="col in config.friends.columns">{{col.title}}</th>
				<th></th>
                <th></th>
			</tr>
            <tr class="listitem" ng-repeat="item in items | orderBy: 'Name' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)" ng-class="['', 'info'][(itemid == item[config.display.individualId])*1]">
                <td class="clickable" ng-repeat="col in config.friends.columns" ng-click="(item)">
                    <span ng-if="!col.type || col.type == 'text'">{{item[col.key]}}</span>
                    <span ng-if="col.type == 'boolean'">
                        <i class="fa fa-check fa-lg text-success" ng-if="(item[col.key])"></i>
                        <i class="fa fa-times fa-lg text-danger" ng-if="!(item[col.key])"></i>
                    </span>
                </td>
                <td>                    
                    <button class="btn btn-success btn-sm" title="Accept" ng-click="accept(item)" ng-if="config.enabled.delete"><i class="fa fa-plus"> Accept</i></button>
                	<button class="btn btn-danger btn-sm" title="Reject" ng-click="reject(item)" ng-if="config.enabled.delete"><i class="fa fa-trash-o"> Reject</i></button>      
		    </tr>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger pull-left" type="button" ng-click="close()"><i class="fa fa-times"></i> Close</button>
    </div>
</script>

<script type="text/ng-template" id="showGroupsModal.html">
	<div class="modal-header">
		<h3 class="modal-title"><span>Groups </span>{{config.display.individualTitle(item)}}<span> is a member of:</span></h3>
	</div>
	<div class="modal-body">
		<table class="table table-bordered">
			<tr class="listitem">
				<th ng-repeat="col in config.userGroups.columns">{{col.title || col.key}}</th>
				<th></th>
			</tr>
            <tr class="listitem" ng-repeat="item in items | orderBy: 'Name' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)" ng-class="['', 'info'][(itemid == item[config.display.individualId])*1]">
                <td class="clickable" ng-repeat="col in config.userGroups.columns" ng-click="(item)">
                    <span ng-if="!col.type || col.type == 'text'">{{item[col.key]}}</span>
                    <span ng-if="col.type == 'boolean'">
                        <i class="fa fa-check fa-lg text-success" ng-if="(item[col.key])"></i>
                        <i class="fa fa-times fa-lg text-danger" ng-if="!(item[col.key])"></i>
                    </span>
                </td>
                <td>
                    <button class="btn btn-danger pull-right" type="button" ng-click="remove(item)"><i class="fa fa-times"> Leave</i></button>
                </td>
		    </tr>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger pull-left" type="button" ng-click="close()"><i class="fa fa-times"></i> Close</button>        
        <button class="btn btn-success" type="button" ng-click="add(item)"></i>Add</button>
	</div>
</script>

<script type="text/ng-template" id="showAchievementsModal.html">
	<div class="modal-header">
		<h3 class="modal-title"><span>Achievements in </span>{{config.display.individualTitle(item)}}<span>:</span></h3>
	</div>
	<div class="modal-body">
		<table class="table table-bordered">
			<tr class="listitem">
				<th ng-repeat="col in config.achievements.columns">{{col.title || col.key}}</th>
				<th></th>
			</tr>
            <tr class="listitem" ng-repeat="item in items | orderBy: 'Name' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)" ng-class="['', 'info'][(itemid == item[config.display.individualId])*1]">
                <td class="clickable" ng-repeat="col in config.achievements.columns" ng-click="(item)">
                    <span ng-if="!col.type || col.type == 'text'">{{item[col.key]}}</span>
                    <span ng-if="col.type == 'boolean'">
                        <i class="fa fa-check fa-lg text-success" ng-if="(item[col.key])"></i>
                        <i class="fa fa-times fa-lg text-danger" ng-if="!(item[col.key])"></i>
                    </span>
                </td>
                <td>
                    <button class="btn btn-danger pull-right" type="button" ng-click="remove(item)"><i class="fa fa-times"></i></button>
                </td>
		    </tr>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger pull-left" type="button" ng-click="close()"><i class="fa fa-times"></i> Close</button>        
        <button class="btn btn-success" type="button" ng-click="add(item)"></i>Add</button>
	</div>
</script>

<script type="text/ng-template" id="addFriendModal.html">
    <div class="modal-header">
        <h3 class="modal-title"><span>Add a new friend for </span>{{config.display.individualTitle(item)}}</h3>
    </div>
    <div class="modal-body">        
        <class>Enter Player Name</class>
        <form name="myForm">
        <input type="text" class="form-control" ng-value="txtBox" ng-model="txtBox" name="txtBox" required/>
        </form>
        <class="form-control" ng-if="!config.friends.ExistingPlayer.exists">Error: Player Not Found</class>
    </div>
    <div class="modal-footer">
        		<button class="btn btn-danger pull-left" type="button" ng-click="close(item)"><i class="fa fa-times"></i> Cancel</button> 
                <button class="btn btn-success" type="button" ng-click="add(item)"ng-disabled="myForm.$invalid"></i> Add</button>        
    </div>>
</script>

<script type="text/ng-template" id="addMemberModal.html">
    <div class="modal-header">
        <h3 class="modal-title"><span>Add a new member to </span>{{config.display.individualTitle(item)}}</h3>
    </div>
    <div class="modal-body">
        <class>Enter Player Name</class>
        <form name="myForm">
        <input type="text" class="form-control" ng-value="txtBox" ng-model="txtBox" name="txtBox" required/>
        </form>
        <class="form-control" ng-if="!config.members.ExistingPlayer.exists">Error: Player Not Found</class>
    </div>
    <div class="modal-footer">
        		<button class="btn btn-danger pull-left" type="button" ng-click="close(item)"><i class="fa fa-times"></i> Cancel</button>  
                <button class="btn btn-success" type="button" ng-click="add(item)"ng-disabled="myForm.$invalid">Add</button>      
    </div>>
</script>

<script type="text/ng-template" id="addGroupModal.html">
    <div class="modal-header">
        <h3 class="modal-title"><span>Add </span>{{config.display.individualTitle(item)}}<span> to a new Group </span></h3>
    </div>
    <form name="myForm">
        <div class="modal-body">
            <class>Enter Group Name</class>
            <input type="text" class="form-control" ng-value="txtBox" ng-model="txtBox" name="txtBox" required/>
            <class="form-control" ng-if="!config.userGroups.ExistingGroup.exists">Error: Group Not Found</class>
        </div>
    </form>
    <div class="modal-footer">
        		<button class="btn btn-danger pull-left" type="button" ng-click="close(item)"><i class="fa fa-times"></i> Cancel</button>   
                <button class="btn btn-success" type="button" ng-click="add(item)" ng-disabled="myForm.$invalid">Add</button>           
    </div>>
</script>

<script type="text/ng-template" id="addAchievementModal.html">
    <div class="modal-header">
        <h3 class="modal-title"><span>Add Achievement to </span>{{config.display.individualTitle(item)}}<span>:</span></h3>
    </div>
    <form name="myForm">
    <div class="modal-body">    
        <h4>Achievement Name</h4>
        <input type="text" class="form-control" ng-model="achievementName"/>
        <h4>Add Criteria</h4> 
        <div class="row" ng-repeat="editable in config.achievements.editables.create" ng-if="!$first">
			<div class="col-xs-3"><label>{{editable.Description}}</label></div>
			<div class="col-xs-9">
				<input type="text" class="form-control" ng-model="item[editable.Description]" ng-disabled="editable.viewonly" ng-if="editable.type == 'text'"  required/>
				<input type="checkbox" ng-model="item[editable.Description]" ng-disabled="editable.viewonly" ng-if="editable.type == 'checkbox'" required>
				<input type="password" class="form-control" ng-model="item[editable.Description]" ng-disabled="editable.viewonly" ng-if="editable.type == 'password'" required>
				<input type="email" class="form-control" ng-model="item[editable.Description]" ng-disabled="editable.viewonly" ng-if="editable.type == 'email'" required>
				<span ng-if="editable.type == 'dropdown'">
					<select class="form-control input-lg" ng-model="item[editable.Description]" name="{{editable.Description}}" required>
						<option ng-repeat="option in editable.values" value="{{option.id}}">{{option.Name}}</option>
					</select>
				</span>
			</div>
		</div>
            
    </div>
    </form>
    <div class="modal-footer">
        		<button class="btn btn-danger pull-left" type="button" ng-click="close(item)"><i class="fa fa-times"></i> Cancel</button>   
                <button class="btn btn-success" type="button" ng-click="add(item)" ng-disabled="myForm.$invalid">Add</button>           
    </div>>
</script>