<div ng-init="init()">

	<div class="row">
		<div class="col-xs-12 text-center button-container">
			<button class="btn btn-success" type="button" ng-click="create()" ng-if="config.enabled.create"><i class="fa fa-plus"></i> Create new {{config.display.single}}</button>
		</div>
	</div>

	<div class="row"  ng-if="items.length > pagination.perPage">
		<div class="col-xs-12 text-center">
			<uib-pagination total-items="items.length" ng-model="pagination.currentPage" max-size="pagination.perPage" class="pagination-sm" boundary-links="true"></uib-pagination>
		</div>
	</div>

	<table class="table table-bordered">
		<tr class="listitem">
			<th style="width: 10px"></th>
			<th ng-repeat="col in config.columns">{{col.title || col.key}}</th>
			<th></th>
		</tr>
		<tr class="listitem" ng-repeat="item in items | orderBy: 'Name' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)" ng-class="['', 'info'][(itemid == item[config.display.individualId])*1]">
			<td>{{$index + ((pagination.currentPage - 1) * pagination.perPage) + 1}})</td>
			<td class="clickable" ng-repeat="col in config.columns" ng-click="(item)">
				<span ng-if="!col.type || col.type == 'text'">{{item[col.key]}}</span>
				<span ng-if="col.type == 'boolean'">
					<i class="fa fa-check fa-lg text-success" ng-if="(item[col.key] || col.val(item))"></i>
					<i class="fa fa-times fa-lg text-danger" ng-if="!(item[col.key] || col.val(item))"></i>
				</span>
			</td>
			<td>
				<button class="btn btn-primary btn-sm" title="Edit this item" ng-click="select(item)" ng-if="config.enabled.edit && false"><i class="fa fa-pencil"></i></button>
				<button class="btn btn-primary btn-sm" title="View this item" ng-click="select(item)" ng-if="!config.enabled.edit"><i class="fa fa-eye"></i></button>
				<button class="btn btn-primary btn-sm" title="Show Members For Group" ng-click="showMembers(item)" ng-if="config.display.title=='Groups'"><i class="fa fa-eye"> Members</i></button>
				<button class="btn btn-primary btn-sm" title="Show Friends For User" ng-click="showFriends(item)" ng-if="config.display.title=='Users'"><i class="fa fa-eye"> Friends</i></button>
				<button class="btn btn-primary btn-sm" title="Show Groups For User" ng-click="showGroups(item)" ng-if="config.display.title=='Users'"><i class="fa fa-eye"> Groups</i></button>
                <button class="btn btn-primary btn-sm" title="Show Achievements For Gamer" ng-click="showAchievements(item)" ng-if="config.display.title=='Games'"><i class="fa fa-eye"> Achievements</i></button>
				<button class="btn btn-danger btn-sm" title="Delete this entry" ng-click="delete(item)" ng-if="config.enabled.delete"><i class="fa fa-trash-o"></i></button>
            </td>
		</tr>
	</table>
	<div class="row"  ng-if="items.length > pagination.perPage">
		<div class="col-xs-12 text-center">
			<uib-pagination total-items="items.length" ng-model="pagination.currentPage" max-size="pagination.perPage" class="pagination-sm" boundary-links="true"></uib-pagination>
		</div>
	</div>
</div>

<script type="text/ng-template" id="editModal.html">
	<div class="modal-header">
		<h3 class="modal-title"><span ng-if="config.enabled.edit">Edit</span><span  ng-if="!config.enabled.edit">View</span> {{config.display.individualTitle(item)}}</h3>
	</div>
    <form name="myForm">
	<div class="modal-body">
		<div class="row" ng-repeat="editable in editables">
			<div class="col-xs-3"><label>{{editable.display || editable.key}}</label></div>
			<div class="col-xs-9">
				<input type="text" class="form-control" ng-model="item[editable.key]" ng-disabled="!config.enabled.edit || editable.viewonly" ng-if="editable.type == 'text'" required/>
				<input type="checkbox" ng-model="item[editable.key]" ng-disabled="!config.enabled.edit || editable.viewonly" ng-if="editable.type == 'checkbox'" required>
				<input type="password" class="form-control" ng-model="item[editable.key]" ng-disabled="!config.enabled.edit || editable.viewonly" ng-if="editable.type == 'password'" required>
				<input type="email" class="form-control" ng-model="item[editable.key]" ng-disabled="!config.enabled.edit || editable.viewonly" ng-if="editable.type == 'email'" required>
				<span ng-if="editable.type == 'dropdown'">
					<select class="form-control input-lg" ng-model="item[editable.key]" name="{{editable.key}}" required>
						<option ng-repeat="option in editable.values" value="{{option.id}}">{{option.name}}</option>
					</select>
				</span>
				<span ng-if="editable.type == 'link'"><span class="text-info clickable" ng-click="link(editable.itemtype, editable.id(item))"><i class="fa fa-search"></i></span> {{editable.val(item)}}</span>
			</div>
		</div>
	</div>
    </form>
	<div class="modal-footer">
		<button class="btn btn-danger pull-left" type="button" ng-click="close()"><i class="fa fa-times"></i> Close</button>
		<button class="btn btn-success" type="button" ng-click="save()" ng-if="config.enabled.edit"ng-disabled="myForm.$invalid"><i class="fa fa-save"></i> Save</button>
	</div>
</script>

<script type="text/ng-template" id="createModal.html">
  <form name="myForm">
	<div class="modal-header">
		<h3 class="modal-title">Create new {{config.display.single}}</h3>
	</div>
	<div class="modal-body">
		<div class="row" ng-repeat="editable in editables">
			<div class="col-xs-3"><label>{{editable.display || editable.key}}</label></div>
			<div class="col-xs-9">
				<input type="text" class="form-control" ng-model="item[editable.key]" ng-disabled="editable.viewonly" ng-if="editable.type == 'text'" required/>
                <input type="checkbox" ng-model="item[editable.key]" ng-disabled="editable.viewonly" ng-if="editable.type == 'checkbox'" required>
				<input type="password" class="form-control" ng-model="item[editable.key]" ng-disabled="editable.viewonly" ng-if="editable.type == 'password'" required>
				<input type="email" class="form-control" ng-model="item[editable.key]" ng-disabled="editable.viewonly" ng-if="editable.type == 'email'" required>
				<span ng-if="editable.type == 'dropdown'">
					<select class="form-control input-lg" ng-model="item[editable.key]" name="{{editable.key}}" required>
						<option ng-repeat="option in editable.values" value="{{option.id}}">{{option.name}}</option>
					</select>
				</span>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger pull-left" type="button" ng-click="close()"><i class="fa fa-times"></i> Close</button>
		<button class="btn btn-success" type="button" ng-click="save()" ng-disabled="myForm.$invalid"><i class="fa fa-save"></i> Save</button>
	</div>
  </form>
</script>

<script type="text/ng-template" id="confirmDeleteModal.html">
	<div class="modal-header">
		<h3 class="modal-title">You are deleting {{config.display.individualTitle(item)}}</h3>
	</div>
	<div class="modal-body">
		Are you sure you want to delete the {{config.display.single}} {{config.display.individualTitle(item)}}?
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger pull-left" type="button" ng-click="close()"><i class="fa fa-times"></i> No, cancel</button>
		<button class="btn btn-success" type="button" ng-click="delete()"><i class="fa fa-trash-o"></i> Yes, delete {{config.display.individualTitle(item)}}</button>
	</div>
</script>