<contentHeader>
<div>
	<div class="col-xs-3">
		<h4 class="" ng-click="back()"><< Back to Menu</h4>
	</div>
</div>
</contentHeader>
<contentMain>
<div>
	<div class="col-xs-12">
		<h4>This page displays the list of games which can be selected to manage resources within each game</h4>
	</div>
</div>
<div ng-init="init()">
	<table class="table table-bordered">
		<tr>
			<td style="width: 10px"></td>
			<th>Select to view Resources</th>
		</tr>
		<!--<tr>
			<td style="width: 10px"></td>
			<td ng-click="showGlobal()">GLOBAL RESOURCES</td>
		</tr>-->
		<tr class="listitem" ng-repeat="item in items | orderBy: 'Name' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)">
			<!--<td></td>-->
			<td style="width: 10px"></td>
            <td ng-click="showResources(item)">{{item.Name}}</td>
		</tr>
	</table>
</div>
</contentMain>
<div class="row">
	<div class="col-xs-12 text-center">
		<uib-pagination total-items="items.length" ng-model="pagination.currentPage" max-size="pagination.perPage" class="pagination-sm" boundary-links="true"></uib-pagination>
	</div>
</div>
<div class="col-xs-12 text-center button-container"/>
