<contentHeader>
<div>
	<div class="col-xs-12 button-container">
		<button class="btn btn-danger pull-left" type="button" ng-click="back()">Back to Menu</button>
	</div>
</div>
</contentHeader>
<contentMain>
<div>
	<div class="col-xs-12">
		<h3><small>This page displays the list of games which can be selected to manage resources within each game<small></h3>
	</div>
</div>
<div ng-init="init()">
	<table class="table table-bordered">
		<tr>
			<td style="width: 10px"></td>
			<td><h3>Select to view Resources</h3></td>
		</tr>
		<!--<tr>
			<td style="width: 10px"></td>
			<td ng-click="showGlobal()"><h4>GLOBAL RESOURCES</h4></td>
		</tr>-->
		<tr class="listitem" ng-repeat="item in items | orderBy: 'Name' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)">
			<!--<td></td>-->
			<td style="width: 10px"></td>
            <td ng-click="showResources(item)">{{item.Name}}</td>
		</tr>
	</table>
</div>
</contentMain>
<div class="row">
	<div class="col-xs-12 text-center">
		<uib-pagination total-items="items.length" ng-model="pagination.currentPage" max-size="pagination.perPage" class="pagination-sm" boundary-links="true"></uib-pagination>
	</div>
</div>
<div class="col-xs-12 text-center button-container"/>
