<contentHeader>
<div>
	<div class="col-xs-3">
		<button class="btn btn-secondary" type="button" ng-click=back()>Back To Resources</button>
	</div>
</div>
</contentHeader>
<contentMain>
<div>
	<div>
	    <h3 ng-if="!gameFound" ><span>Cannot display resources, no game found with ID:- </span>{{itemId}}<span></span></h3>
    </div>
	<div class="col-xs-12">
		<h4>This page displays all the resources in the selected game, showing the name of the resource<br />From this page you can also:<br />- Create new resources for the selected game<br />- Edit current resources<br />- Delete resources</h4>
	</div>
</div>
<div ng-init="init()" ng-if="gameFound">
	<table class="table table-bordered table-hover">
		<tr>
			<td style="width: 10px"></td>
			<th>Resources in <span>{{gameName}}</span></th>
		</tr>
		<tr class="listitem" ng-repeat="item in items | orderBy: 'Name' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)">
			<td style="width: 10px"></td>
            <td>{{item.key}}</td>
		</tr>
	</table>
</div>
</contentMain>
<contentFooter>
	<div class="col-xs-4 col-xs-offset-4 text-center">
		<uib-pagination total-items="items.length" ng-model="pagination.currentPage" max-size="pagination.perPage" class="pagination-sm" boundary-links="true"></uib-pagination>
	</div>
	<div ng-if="gameFound" class="col-xs-4 text-center button-container">
		<button class="btn btn-success pull-right" type="button" ng-click="addResource()"></i>Add new resource</button>
	</div>
</contentFooter>

<!-- Create a new resource  -->

<script type="text/ng-template" id="createResourceModal.html">
  <form name="myForm">
	<div class="modal-header">
		<h3 class="modal-title">Create new Resource</h3>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-xs-3"><label>Name</label></div>
			<div class="col-xs-9">
				<input type="text" placeholder="Resource Name" class="form-control" ng-model="item.Key" required/>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3"><label>Starting Quantity</label></div>
			<div class="col-xs-9">
				<input type="number" placeholder="0" class="form-control" ng-model="item.Quantity" required/>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger pull-left" type="button" ng-click="close()"><i class="fa fa-times"></i> Close</button>
		<button class="btn btn-success" type="button" ng-click="save()" ng-disabled="myForm.$invalid"><i class="fa fa-save"></i> Create</button>
	</div>
  </form>
</script>
