<div>
	<div class="col-xs-12 button-container">
		<button class="btn btn-danger pull-left" type="button" ng-click="back()">Back to Games List</button>
	</div>
</div>
<div>
	<div class="col-xs-12">
		<h3><small>This page displays all the skills in the selected game, showing the name of the skills, the key and the criteria that must be reached to complete the skill<br />From this page you can also:<br />- Create new skills for the selected game<br />- Edit current skillls<br />- Delete skills<small></h3>
	</div>
</div>
<div ng-init="init()" ng-if="gameFound">
	<h3>Skills in <span>{{gameName}}</span></h3>

	<table class="table table-bordered">
		<tr class="listitem">
			<thead>
			<tr class="listitem">
				<th>Name</th>
				<th>Key</th>
				<th>Completion Criteria</th>
			</tr>
			</thead>
		</tr>
		<tbody ng-repeat="n in range()">
			<tr>
				<td><h4>{{items[n].Name}}</h4></td>
				<td><h4>{{items[n].CompletionCriteria[0].Key}}</h4></td>
				<td><h4>{{items[n].CompletionCriteria[0].DataType}} {{items[n].CompletionCriteria[0].ComparisonType}} {{items[n].CompletionCriteria[0].Value}}</h4></td>
				<td>
				<button class="btn btn-danger pull-right" type="button" ng-click="remove(items[n])"><i class="fa fa-times"></i></button>
			</td>
			</tr>
			<tr ng-repeat="i in criteriaRange(n)">
				<td></td>
				<td><h4>{{items[n].CompletionCriteria[i].Key}}</h4></td>
				<td><h4>{{items[n].CompletionCriteria[i].DataType}} {{items[n].CompletionCriteria[i].ComparisonType}} {{items[n].CompletionCriteria[i].Value}}</h4></td>
			</tr>
		</tbody>
		<tr class="listitem" ng-repeat="item in items | orderBy: 'Name' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)">
		</tr>
	</table>
	<div class="row">
		<div class="col-xs-12 text-center">
			<uib-pagination total-items="items.length" ng-model="pagination.currentPage" max-size="pagination.perPage" class="pagination-sm" boundary-links="true"></uib-pagination>
		</div>
	</div>
	<div class="col-xs-12 text-center button-container">
        <button class="btn btn-success pull-right" type="button" ng-click="addSkill(item)"></i>Add New Skill</button>
	</div>
</div>
<div>
	<h3 ng-if="!gameFound" ><span>Cannot display skills, no game found with ID:- </span>{{itemId}}<span></span></h3>
</div>

<!-- Create a new Skill  -->

<script type="text/ng-template" id="createSkillModal.html">
  <form name="myForm">
	<div class="modal-header">
		<h3 class="modal-title">Create new Skill</h3>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-xs-3"><label>Name</label></div>
			<div class="col-xs-9">
				<input type="text" class="form-control" ng-model="item.Name" required/>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger pull-left" type="button" ng-click="close()"><i class="fa fa-times"></i> Close</button>
		<button class="btn btn-success" type="button" ng-click="save()" ng-disabled="myForm.$invalid"><i class="fa fa-save"></i> Save</button>
	</div>
  </form>
</script>
