<div class="col-xs-3">
	<button class="btn btn-success" type="button" ng-click="addFriend(item)"><i class="fa fa-user"> Add New Friend</i></button>
</div>
<div class="col-xs-12">
	<button class="btn btn-info" type="button" ng-click="viewFriends()">View Friends</button>
	<button class="btn btn-info" type="button" ng-click="viewPending()">View Sent Requests</button>
	<button class="btn btn-info" type="button" ng-click="viewIncoming()">View Friend Requests</button>
</div>
<table class="table table-bordered table-hover" ng-init="init()">
	<tr class="listitem">
		<td style="width: 10px"></td>
		<th>Name</th>
		<th>Status</th>
		<th></th>
	</tr>

	<!-- Show friend requests from other players first -->
	<tr class="listitem" ng-repeat="item in requests | orderBy: 'name' | limitTo:pagination.perPage:pagination.perPage * (pagination.currentPage-1)" ng-class="['', 'info'][(itemid == item[config.display.individualId])*1]" ng-if="ShowingIncomingRequests">
        <td></td>
		<td>{{item.name}}</td>
		<td>Pending</td>
        <td>
			<button class="btn btn-danger pull-right" type="button" ng-click="reject(item)"><i class="fa fa-times"> Reject</i></button>
			<button class="btn btn-success pull-right" type="button" ng-click="accept(item)"><i class="fa fa-times"> Accept</i></button>
        </td>
    </tr>

	<!-- Show friend requests sent second -->
	<tr class="listitem" ng-repeat="item in pendings | orderBy: 'name' | limitTo:pagination.perPage:pagination.perPage * (pagination.currentPage-1)" ng-class="['', 'info'][(itemid == item[config.display.individualId])*1]" ng-if="ShowingPendingRequests">
		<td></td>
        <td>{{item.name}}</td>
		<td>Request Sent</td>
        <td>
            <button class="btn btn-danger pull-right" type="button" ng-click="removePending(item)"><i class="fa fa-times"> Cancel</i></button>
        </td>
    </tr>

	<!-- Now show the accepted friends -->
    <tr class="listitem" ng-repeat="item in items | orderBy: 'name' | limitTo:pagination.perPage:pagination.perPage * (pagination.currentPage-1)" ng-class="['', 'info'][(itemid == item[config.display.individualId])*1]" ng-if="ShowingFriends">
    	<td></td>
        <td>{{item.name}}</td>
		<td>Accepted</td>
        <td>
            <button class="btn btn-danger pull-right" type="button" ng-click="remove(item)"><i class="fa fa-times"> Remove</i></button>
        </td>
    </tr>
</table>
<contentFooter>
<div class="col-xs-12 text-center">
	<uib-pagination total-items="items.length" ng-model="pagination.currentPage" max-size="pagination.perPage" class="pagination-sm" boundary-links="true"></uib-pagination>
</div>
</contentFooter>
