<table class="table table-bordered table-hover" ng-init="init()">
	<tr>
		<td style="width: 10px"></td>
		<th>Groups</th>
	</tr>
	<tr class="listitem">
		<td style="width: 10px"></td>
		<th>Name</th>
		<th>Role</th>
		<th></th>
	</tr>
    <tr class="listitem" ng-repeat="item in items | orderBy: 'name' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)" ng-class="['', 'info'][(itemid == item[config.display.individualId])*1]">
        <td></td>
		<td>{{item.name}}</td>
		<td></td>
        <td>
			<button class="btn btn-danger pull-right" type="button" ng-click="remove(item)"><i class="fa fa-times"> Leave</i></button>
        </td>
    </tr>
</table>