<contentHeader>
<div>
	<div class="col-xs-12">
		<h4 class="" ng-click="back()"> Back to All Users</h4>
	</div>
</div>
<div class="col-xs-12" ng-if="!userFound">
    <h3><span>Cannot display user, no user found with ID:- </span>{{itemId}}<span></span></h3>
</div>

<div class="col-xs-12" ng-if="userFound">
	<h2>{{userName}}'s Profile</h2>
</div>
<div class="col-xs-12" ng-if="userFound">
	<button class="btn btn-primary" title="View User Information" ng-click="userInfo()" ng-disabled="showInfo">Details</button>
	<button class="btn btn-primary" title="View Friends" ng-click="userFriends()" ng-disabled="showFriends">Friends</button>
	<button class="btn btn-primary" title="View Groups" ng-click="userGroups()" ng-disabled="showGroups">Groups</button>
	<button class="btn btn-primary" title="Edit Account Details" ng-click="userAccount()" ng-disabled="showAccount">Settings</button>
	<button class="btn btn-primary" title="Close" ng-click="closeTable()" ng-if="showGroups || showFriends || showInfo || showAccount">Close</button>
</div>
</contentHeader>
<contentMain>	
<div ng-init="init()" ng-if="userFound" >
	<div>
		<div ui-view="user.details">TeST</div>
	</div>
	<table class="table table-bordered table-hover" ng-if="showInfo">
		<tr>
			<td style="width: 10px"></td>
			<th>Details</th>
		</tr>
	</table>
	<table class="table table-bordered table-hover" ng-if="showFriends">
		<tr>
			<td style="width: 10px"></td>
			<th>Friends</th>
		</tr>
		<tr class="listitem">
			<td style="width: 10px"></td>
			<th>Name</th>
			<th>Status</th>
			<th></th>
		</tr>

		<!-- Show friend requests from other playersfirst -->
		<tr class="listitem" ng-repeat="item in requests | orderBy: 'name' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)" ng-class="['', 'info'][(itemid == item[config.display.individualId])*1]">
            <td></td>
			<td>{{item.name}}</td>
			<td>Pending</td>
            <td>
				<button class="btn btn-danger pull-right" type="button" ng-click="reject(item)"><i class="fa fa-times"> Reject</i></button>
				<button class="btn btn-success pull-right" type="button" ng-click="accept(item)"><i class="fa fa-times"> Accept</i></button>
            </td>
	    </tr>

		<!-- Show pending friend requests first -->
		<tr class="listitem" ng-repeat="item in pendings | orderBy: 'name' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)" ng-class="['', 'info'][(itemid == item[config.display.individualId])*1]">
			<td></td>
            <td>{{item.name}}</td>
			<td>Request Sent</td>
            <td>
                <button class="btn btn-danger pull-right" type="button" ng-click="removePending(item)"><i class="fa fa-times"> Cancel</i></button>
            </td>
	    </tr>

		<!-- Now show the accepted friends -->
        <tr class="listitem" ng-repeat="item in items | orderBy: 'name' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)" ng-class="['', 'info'][(itemid == item[config.display.individualId])*1]">
        	<td></td>
            <td>{{item.name}}</td>
			<td>Accepted</td>
            <td>
                <button class="btn btn-danger pull-right" type="button" ng-click="remove(item)"><i class="fa fa-times"> Remove</i></button>
            </td>
	    </tr>
	</table>
	<table class="table table-bordered table-hover" ng-if="showGroups">
		<tr>
			<td style="width: 10px"></td>
			<th>Groups</th>
		</tr>
		<tr class="listitem">
			<td style="width: 10px"></td>
			<th>Name</th>
			<th>Role</th>
			<th></th>
		</tr>
        <tr class="listitem" ng-repeat="item in items | orderBy: 'name' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)" ng-class="['', 'info'][(itemid == item[config.display.individualId])*1]">
            <td></td>
			<td>{{item.name}}</td>
			<td></td>
            <td>
				<button class="btn btn-danger pull-right" type="button" ng-click="remove(item)"><i class="fa fa-times"> Leave</i></button>
            </td>
	    </tr>
	</table>
	<div ng-if="showAccount">
		<button class="btn btn-danger pull-left" type="button" ng-click="delete(item)">Delete User</button>
	</div>
</div>
</contenMain>
<contentFooter>
	<div class="col-xs-3" ng-if="showFriends">
		<button class="btn btn-success pull-left" type="button" ng-click="addFriend(item)"><i class="fa fa-user"> Add New Friend</i></button>
	</div>
	<div class="col-xs-3" ng-if="showGroups">
		<button class="btn btn-success pull-left" type="button" ng-click="addGroup(item)"><i class="fa fa-group"> Join Group</i></button>
	</div>
	<div class="col-xs-9 text-center" ng-if="showGroups || showFriends">
		<uib-pagination class="pull-right" total-items="items.length" ng-model="pagination.currentPage" max-size="pagination.perPage" class="pagination-sm" boundary-links="true"></uib-pagination>
	</div>
</contentFooter>

<!-- request to add a new friend -->

<script type="text/ng-template" id="addFriendModal.html">
    <div class="modal-header">
        <h3 class="modal-title"><span>Add a new Friend</h3>
    </div>
    <div class="modal-body">        
        <class>Enter Player Name</class>
        <form name="myForm">
        <input type="text" class="form-control" ng-value="txtBox" ng-model="txtBox" name="txtBox" placeholder="Username" required/>
        </form>
        <class="form-control" ng-if="!exists">Error: Player Not Found</class>
    </div>
    <div class="modal-footer">
		<button class="btn btn-danger pull-left" type="button" ng-click="closeModal()"><i class="fa fa-times"></i> Cancel</button> 
        <button class="btn btn-success" type="button" ng-click="add(item)"ng-disabled="myForm.$invalid"></i> Add</button>        
    </div>>
</script>

<!-- Add player to a group -->

<script type="text/ng-template" id="addGroupModal.html">
    <div class="modal-header">
        <h3 class="modal-title"><span>Join a new Group </span></h3>
    </div>
    <form name="myForm">
        <div class="modal-body">
            <class>Enter Group Name</class>
            <input type="text" class="form-control" ng-value="txtBox" ng-model="txtBox" name="txtBox" placeholder="Group name" required/>
            <class="form-control" ng-if="!exists">Error: Group Not Found</class>
        </div>
    </form>
    <div class="modal-footer">
		<button class="btn btn-danger pull-left" type="button" ng-click="closeModal()"><i class="fa fa-times"></i> Cancel</button>   
        <button class="btn btn-success" type="button" ng-click="add(item)" ng-disabled="myForm.$invalid">Add</button>           
    </div>>
</script>

<!-- Confirm that we want to delete the user  -->

<script type="text/ng-template" id="confirmDeleteModal.html">
	<div class="modal-header">
		<h3 class="modal-title">You are deleting {{userName}}</h3>
	</div>
	<div class="modal-body">
		Are you sure you want to delete the user {{userName}}?
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger pull-left" type="button" ng-click="closeModal()"><i class="fa fa-times"></i> No</button>
		<button class="btn btn-success" type="button" ng-click="delete()"><i class="fa fa-trash-o"></i> Yes</button>
	</div>
</script>