<div>
	<div class="col-xs-12 button-container">
		<button class="btn btn-danger pull-left" type="button" ng-click="back()">Back to Users</button>
	</div>
</div>
<div>
	<div class="col-xs-12">
		<h3><small>This page displays a list of friends for the selected user, including accepted friends, pending requests from other users and requests sent<br />You can also add new friends by entering the a users name in the 'Add New Friend' menu<small></h3>
	</div>
</div>
<div ng-init="init()" ng-if="userFound" >

	<h3><span>Friends of </span>{{userName}}<span>:</span></h3>
	<div class="modal-body">
		<table class="table table-bordered">
			<tr class="listitem">
				<th>Name</th>
				<th></th>
				<th></th>
			</tr>
			<!-- Show friend requests from other playersfirst -->
			<tr class="listitem" ng-repeat="item in requests | orderBy: 'Name' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)" ng-class="['', 'info'][(itemid == item[config.display.individualId])*1]">
                <td>{{item.Name}}</td>
				<td>Pending</td>
                <td>
					<button class="btn btn-danger pull-right" type="button" ng-click="reject(item)"><i class="fa fa-times"> Reject</i></button>
					<button class="btn btn-success pull-right" type="button" ng-click="accept(item)"><i class="fa fa-times"> Accept</i></button>
                </td>
		    </tr>
			<!-- Show pending friend requests first -->
			<tr class="listitem" ng-repeat="item in pendings | orderBy: 'Name' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)" ng-class="['', 'info'][(itemid == item[config.display.individualId])*1]">
                <td>{{item.Name}}</td>
				<td>Request Sent</td>
                <td>
                    <button class="btn btn-danger pull-right" type="button" ng-click="removePending(item)"><i class="fa fa-times"> Delete</i></button>
                </td>
		    </tr>
			<!-- Now show the accepted friends -->
            <tr class="listitem" ng-repeat="item in items | orderBy: 'Name' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)" ng-class="['', 'info'][(itemid == item[config.display.individualId])*1]">
                <td>{{item.Name}}</td>
				<td>Accepted</td>
                <td>
                    <button class="btn btn-danger pull-right" type="button" ng-click="remove(item)"><i class="fa fa-times"> Remove</i></button>
                </td>
		    </tr>
		</table>
	</div>
	<div>
        <div class="col-xs-12 text-center button-container">
        	<button class="btn btn-success pull-right" type="button" ng-click="add(item)"></i>Add New Friend</button>
        </div>
	</div>
</div>
<div>
	<h3 ng-if="!userFound" ><span>Cannot display friends, no user found with ID:- </span>{{itemId}}<span></span></h3>
</div>

<!-- request to add a new friend -->

<script type="text/ng-template" id="addFriendModal.html">
    <div class="modal-header">
        <h3 class="modal-title"><span>Add a new friend for </span>{{itemtype}}</h3>
    </div>
    <div class="modal-body">        
        <class>Enter Player Name</class>
        <form name="myForm">
        <input type="text" class="form-control" ng-value="txtBox" ng-model="txtBox" name="txtBox" required/>
        </form>
        <class="form-control" ng-if="!exists">Error: Player Not Found</class>
    </div>
    <div class="modal-footer">
        		<button class="btn btn-danger pull-left" type="button" ng-click="close(item)"><i class="fa fa-times"></i> Cancel</button> 
                <button class="btn btn-success" type="button" ng-click="add(item)"ng-disabled="myForm.$invalid"></i> Add</button>        
    </div>>
</script>