<contentHeader>
<div>
	<div class="col-xs-3">
		<h4 class="" ng-click="back()"> Back to Users</h4>
	</div>
</div>
</contentHeader>
<contentMain>
<div>
	<div>
	    <h3 ng-if="!userFound" ><span>Cannot display groups, no user found with ID:- </span>{{itemId}}<span></span></h3>
    </div>
	<div class="col-xs-12">
		<h4>This page displays a list of groups for the selected user, which can be left using the leave button and join a new group by typing a group name into the 'Join New Group' popup</h4>
	</div>
</div>
<div ng-init="init()" ng-if="userFound">

	<div class="modal-body">
		<table class="table table-bordered">
			<tr>
				<td style="width: 10px"></td>
				<th>Groups <span>{{userName}}</span> is a member of:</th>
			</tr>
			<tr class="listitem">
				<td style="width: 10px"></td>
				<th>Name</th>
				<th></th>
			</tr>
            <tr class="listitem" ng-repeat="item in items | orderBy: 'Name' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)" ng-class="['', 'info'][(itemid == item[config.display.individualId])*1]">
                <td></td>
				<td>{{item.Name}}</td>
                <td>
					<button class="btn btn-danger pull-right" type="button" ng-click="remove(item)"><i class="fa fa-times"> Leave</i></button>
                </td>
		    </tr>
		</table>
	</div>
</div>
</contentMain>
<contentFooter>
	<div ng-if="userFound" class="col-xs-12 text-center button-container">
		<button class="btn btn-success pull-right" type="button" ng-click="add(item)"></i>Join New Group</button>
	</div>
</contentFooter>

<!-- Add player to a group -->

<script type="text/ng-template" id="addGroupModal.html">
    <div class="modal-header">
        <h3 class="modal-title"><span>Add </span>{{config.display.individualTitle(item)}}<span> to a new Group </span></h3>
    </div>
    <form name="myForm">
        <div class="modal-body">
            <class>Enter Group Name</class>
            <input type="text" class="form-control" ng-value="txtBox" ng-model="txtBox" name="txtBox" placeholder="Username" required/>
            <class="form-control" ng-if="!exists">Error: Group Not Found</class>
        </div>
    </form>
    <div class="modal-footer">
        		<button class="btn btn-danger pull-left" type="button" ng-click="close(item)"><i class="fa fa-times"></i> Cancel</button>   
                <button class="btn btn-success" type="button" ng-click="add(item)" ng-disabled="myForm.$invalid">Add</button>           
    </div>>
</script>