<div ng-init="init()">

	<div class="modal-header">
		<h3 class="modal-title"><span>Friends of </span>{{userName}}<span>:</span></h3>
	</div>
	<div class="modal-body">
		<table class="table table-bordered">
			<tr class="listitem">
				<th>Name</th>
				<th></th>
				<th></th>
			</tr>
			<!-- Show friend requests from other playersfirst -->
			<tr class="listitem" ng-repeat="item in requests | orderBy: 'Name' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)" ng-class="['', 'info'][(itemid == item[config.display.individualId])*1]">
                <td>{{item.Name}}</td>
				<td>Pending</td>
                <td>
					<button class="btn btn-danger pull-right" type="button" ng-click="reject(item)"><i class="fa fa-times"> Reject</i></button>
					<button class="btn btn-success pull-right" type="button" ng-click="accept(item)"><i class="fa fa-times"> Accept</i></button>
                </td>
		    </tr>
			<!-- Show pending friend requests first -->
			<tr class="listitem" ng-repeat="item in pendings | orderBy: 'Name' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)" ng-class="['', 'info'][(itemid == item[config.display.individualId])*1]">
                <td>{{item.Name}}</td>
				<td>Request Sent</td>
                <td>
                    <button class="btn btn-danger pull-right" type="button" ng-click="removePending(item)"><i class="fa fa-times"> Delete</i></button>
                </td>
		    </tr>
			<!-- Now show the accepted friends -->
            <tr class="listitem" ng-repeat="item in items | orderBy: 'Name' | limitTo:pagination.perPage:((pagination.currentPage - 1) * pagination.perPage)" ng-class="['', 'info'][(itemid == item[config.display.individualId])*1]">
                <td>{{item.Name}}</td>
				<td>Accepted</td>
                <td>
                    <button class="btn btn-danger pull-right" type="button" ng-click="remove(item)"><i class="fa fa-times"> Remove</i></button>
                </td>
		    </tr>
		</table>
	</div>
	<div class="modal-footer">
        <button class="btn btn-primary btn-sm" title="Show Friend Requests For User" ng-click="showFriendRequests(item)" ng-if="hasRequests"><i class="fa fa-eye"> Friend Requests</i></button>
        <button class="btn btn-success" type="button" ng-click="add(item)"></i>Add New Friend</button>
	</div>
</div>

<!-- request to add a new friend -->

<script type="text/ng-template" id="addFriendModal.html">
    <div class="modal-header">
        <h3 class="modal-title"><span>Add a new friend for </span>{{itemtype}}</h3>
    </div>
    <div class="modal-body">        
        <class>Enter Player Name</class>
        <form name="myForm">
        <input type="text" class="form-control" ng-value="txtBox" ng-model="txtBox" name="txtBox" required/>
        </form>
        <class="form-control" ng-if="!exists">Error: Player Not Found</class>
    </div>
    <div class="modal-footer">
        		<button class="btn btn-danger pull-left" type="button" ng-click="close(item)"><i class="fa fa-times"></i> Cancel</button> 
                <button class="btn btn-success" type="button" ng-click="add(item)"ng-disabled="myForm.$invalid"></i> Add</button>        
    </div>>
</script>